<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>WELCOME TO</h3>
    <h1>COMMENT ANALYZER</h1>
    <h5>choose a platform in which you would like to analyze comments</h5>
    <div>
    <a href="/youtube"> <img src="{{ url_for('static',filename='youtube-logo.png') }}" alt="youtube" class="youtube" id="icons"></a><br>
    <a href="/twitter"> <img src="{{ url_for('static',filename='twitter-logo.png') }}" alt="youtube" class="twitter"id="icons"></a>
    </div>

        
    
</body>
</html>